body {
  font-family: Open Sans;
  font-weight: 300;
  font-size: 20px;
  margin: 0px;
  background-color: #eeeeee;
  color: #404041;
}

/*Header Styles*/
header {
  background-color: #404041;
  text-align: center;
  padding: 15px;

}

h1 {
  font-size: 50px;
  margin: auto;
  padding: 0px;
  font-weight: 300;
  color: #e6e7e8;
}

h1 span {
  color: #ed458b;
  font-weight: 700;
}

/*Main Styles*/
main {
  margin: auto;
  text-align: center;
}

#mainContent {
  position: relative;
  width: 500px;
}

#centerCol {
  margin: auto;
  display: block;
}

fieldset {
  border: 0px;
  position: relative;
}

legend {
  display: none;
}

input {
  width: 100px;
  height: 45px;
  padding: 4px;
  font-size: 25px;
  font-weight: 300;
  margin: auto;
  margin-bottom: 10px;
}

h3 {
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  color: #ed458b;
  font-weight: 700;
}

#guessField {
  width: 450px;
}

.guessFieldInvalid {
  background-color: #FADBD8;
  border: 1px solid #922B21;
}

.guessFieldValid {
  background-color: #ffffff;
  border: 1px solid ##AEB6BF;
}

#errorBox {
  position: absolute;
  top: 50px;
  left: 0px;
  right: 0px;
  background-color: #FADBD8;
  border: 1px solid #922B21;
  visibility: hidden;
}

button {
  height: 50px;
  width: 210px;
  border-radius: 25px;
  background-color: #929497;
  color: #ffffff;
  border: 0px;
  font-size: 25px;
  font-weight: 300;
  margin: 0px 8px;
}

button:disabled {
  background-color: #D0D2D3;
  color: #ffffff;
}

button:not([disabled]):hover {
  background-color: #eb008b;
}

/*Results Styles*/
#lastGuessText, #resultsText {
  visibility: hidden;
}

#lastGuess {
  font-size: 125px;
  margin: 0px;
  padding: 0px;
  color: #ed458b;
  font-weight: 300;
}

.wideButton {
  width: 450px;
  margin-bottom: 25px;
}

/*Settings Styles*/
#settingsBox {
  width: 500px;
  display: none;
  color: #ffffff;
  border-radius: 2%;
  background-color: #404041;
  border: 1px solid 666666;
  position: absolute;
  left: -500px;
  top: 5px;
  z-index: 10;
}

h4 {
  font-size: 15px;
  padding: 0px;
  margin: 0px;
  margin-top: 10px;
}

.playerIcons {
  width: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 20%;
}

.playerIcons:hover {
  background-color: #eb008b;
}

.playerIconsActive {
  background-color: #929497;
  border: 1px solid #d0d2d3;
  width: 50px;
  margin: 10px;
  padding: 10px;
  border-radius: 20%;
}

/*Aside Styles*/
#rightBar {
  position: absolute;
  right: -75px;
  display: inline-block;
  width: 75px;
  overflow: visible;
}

.settingsIcon {
  width: 55px;
  padding: 10px;
  margin-top: 15px;
  border-radius: 25%;
  border: 1px solid #929497;
}

.settingsIcon:hover {
  border-radius: 25%;
  background-color: #eb008b;
  border: 1px solid #404041;
}

.settingsIconActive {
  width: 55px;
  padding: 10px;
  margin-top: 15px;
  border-top-right-radius: 25%;
  border-bottom-right-radius: 25%;
  background-color: #404041;
}

.historicGuess, .historicGuessCorrect {
  color: #ffffff;
  font-size: 12px;
  margin: auto;
  margin-top: 10px;
  padding: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eb008b;
}

.historicGuess>strong, .historicGuessCorrect>strong {
  font-size: 20px;
}

.historicGuessCorrect {
  color: #404041;
  background-color: #ABEBC6;
}
